/*
 * Archivo utilizado para los Posts individuales
 *
 * post_details.html.twig
 */

/**
* Formulario - Comentario para el Post
*
* Configuro para que los textarea se expandan de manera vertical
* con un límite de alto.
*/
#post-comment__textarea,
textarea {
    resize: vertical;
    max-height: 200px;
    min-height: 86px;
}

/**
* Imagen del Post
*
* Mediante los tamaños y el object-fit, hacemos que la imagen sea responsiva.
*/
#post__image {
  height: 400px;
  width: auto;

  max-width: 80%;
  max-height: 80%;

  object-fit: contain;
}

/**
* Modal de la imagen del Post
*
* Se configura un tamaño máximo para no romper la responsividad
*/
#post__image-modal {
  max-width: 100%;
  height: auto;
}

/**
* Avatar de los comentarios del Post
*
* Ajusta el tamaño de los avatares de manera responsiva con un borde para distinguir la imagen.
*/
.post-comment__avatar {
  height: 3.5em;
  width: auto;
  border: #dee2e6 1px solid;
}

/**
* Avatar de los comentarios del Post
*
* Ajusta el tamaño de los avatares de manera responsiva con un borde para distinguir la imagen.
*/
.text-justify {
    text-align: justify;
    text-justify: newspaper;
}