/*
 * Archivo utilizado para el formulario de Registro
 *
 * register_form.html.twig
 */


html,
body {
    height: 100%;
}

.form-signup {
    max-width: 550px;
    padding: 1rem;
}

.form-signup .form-floating:focus-within {
    z-index: 2;
}

.form-signup input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signup input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/**
* Formulario - Descripción del formulario
*
* Configuro para que el textarea se expande de manera vertical
* con un límite de altura.
*
* ID creada por Symfony.
*/
#user_description {
    max-height: 120px;
    min-height: 62px;
    resize: vertical;
}