<!-- Start Breacbrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-body-tertiary rounded-5 pt-3 px-3 ">

        <li class="breadcrumb-item">
            <a class="link-body-emphasis" href="{{ path('app_post') }}">
                <img src="{{ asset('icons/house-fill.svg') }}" alt="Inicio" width="16" height="16">
            </a>
        </li>

        <li class="breadcrumb-item">
            <a class="link-body-emphasis fw-semibold text-decoration-none" href="#">Posts</a>
        </li>
    </ol>
</nav>
<hr>
<!-- End Breadcrumb -->