<!-- Footer -->
<br>
<br>
<footer class="bg-white pt-5 mt-5 pb-5">
    <!-- Copyrights -->
    <div class="bg-light py-xl-5">
        <div class="container text-center">
            <p class="text-muted mb-0 py-2">© 2019 Bootstrapious All rights reserved.</p>
        </div>
    </div>
</footer>
<!-- End -->