<!-- Start top navbar -->
<nav class="navbar navbar-expand-lg bg-transparent py-2">
    <div class="container">

        <a class="navbar-brand" href="#">ISFT 177</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    Foro Instituto de Educación Superior N°177
                </li>
            </ul>

            <form class="d-flex" role="search">
                <input class="form-control me-2 border-dark-subtle" type="search" placeholder="..." aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
        </div>
    </div>
</nav>
<!-- End top navbar -->