<!-- Start Sidebar -->
<div class="d-md-grid d-none ps-2 gap-3">
    <div class="card">
        <h4 class="card-header">Hacé tu donación</h4>
        <div class="card-body">
            <p class="card-text">Gracias a la cooperadora, el foro <strong>existe.</strong></p>
            <p class="card-text mb-0">Escaneá el siguiente código QR para realizar un aporte a la cooperadora:</p>
            <img class="card-img-bottom img-fluid" src="{{ asset('image/cooperadora_qr.png') }}" alt="QR para donaciones a Cooperadora">
        </div>
    </div>

    <div class="card">
        <h4 class="card-header">Página oficial del Instituto</h4>
        <div class="card-body">
            <p class="card-text">Nos complace informarte que esta página fue creada en el <strong>ISFT 177</strong>.</p>
            <p class="card-text">En el siguiente enlace encontrarás información relevante, recursos útiles y contenido interesante relacionado
                con nuestra institución:</p>
            <a target="_blank" href="https://isft177.edu.ar/">
                <button class="btn btn-primary">Ir a página</button>
            </a>
        </div>
    </div>
</div>
<!-- End Sidebar -->