<!DOCTYPE html>
<html>
    <head>
        {% block meta %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="title" content="Foro ISFT 177">
            <meta name="description" content="El Foro del ISFT 177 es un espacio virtual para compartir entre alumnos.">
            <meta name="keywords" content="Foro, terciario, ISFT, ISFT177, Forum">
            <meta name="robots" content="index, nofollow">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
            <meta name="language" content="Spanish">
        {% endblock %}

        <title>{% block title %} Foro ISFT 177 {% endblock %}</title>

        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" type="text/css">
            <!-- <link href="{{ asset('css/animate.css') }}" rel="stylesheet" type="text/css"> -->
        {% endblock %}

    </head>
    <body>
        {% block body %}
            {% block navbar %}
                {% include 'general/navbar-top.html.twig' %}
                {% include 'general/navbar-bottom.html.twig' %}

{#                {% if show_navbar_hero is defined %}#}
{#                    {% include 'general/hero.html.twig' %}#}
{#                {% endif %}#}
            {% endblock %}


        {% endblock %}
        {% include 'general/footer.html.twig' %}

        {% block javascripts %}
          <script src="{{ asset('js/jquery-3.7.0.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
