<div class="rounded form-control p-3">
    <form>
        <div class="form-check">
            <textarea class="" name="formComment"  id="formComment" placeholder="Ingresa un comentario..."></textarea>
        </div>
        <input type="submit" class="btn btn-primary" value="Enviar">

    </form>
</div>