{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('css/post_list.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <body class="bg-body-secondary">

    {% block content %}
        <div class="container-lg">

            {% block navbar %}
                {#{% include 'general/navbar_top.html.twig' %}#}
                {% include 'general/hero.html.twig' %}
                {% include 'general/navbar_bottom.html.twig' %}
            {% endblock %}

            <main class="row mt-lg-4 mt-sm-2 ms-md-0">

                {% block post_container %}
                    <div class="col-md-8">
                        <div class="row bg-body-tertiary rounded px-0 mb-md-3 mb-2">
                            {% block breadcrumb %}
                                {% include 'general/breadcrumb.html.twig' %}
                            {% endblock %}

                            {% block post_content %}
                                {# Contenido de posts y post-details #}
                            {% endblock %}
                        </div>

                        {% block post_comment_section %}
                            {# Utilizado en post_details #}
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block sidebar_container %}
                    <div class="col-md-4 d-md-block d-none">
                        {% block sidebar %}
                            {% include 'general/sidebar.html.twig' %}
                        {% endblock %}
                    </div>
                {% endblock %}
            </main>

        </div>
    {% endblock %}

    {% block footer %}
        {% include ('general/footer.html.twig') %}
    {% endblock %}

    </body>
{% endblock %}