{#{% extends 'post/layout.html.twig' %}#}

{#{% block stylesheets %}#}
{#    {{ parent() }}#}

{#    <link href="{{ asset('css/post.css') }}" rel="stylesheet" type="text/css">#}
{#{% endblock %}#}

{#{% block content %}#}

{# Me traigo el block body de base.html.twig #}
{#{{ parent() }}#}

{#    <div class="container-lg">#}
{#        <div class="row mt-5">#}
{#            <div class="col-sm">#}

{#                {% include 'post/post.html.twig' with {post: post} %}#}

{#                {% include 'post/comment-input.html.twig' %}#}


{#            </div>#}
{#            <div class="col-sm-4 d-md-flex d-sm-none">#}
{#                {% include 'post/sidebar.html.twig' %}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}


{#{% endblock %}#}
