{% extends 'post/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('css/post.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block post_content %}

    {# Me traigo el block body de base.html.twig#}
    {{ parent() }}

    <div class="container-lg">
        <div class="row mt-4 mx-2">
            <div class="col-sm">
                {% include 'post/post.html.twig' with {post: post} %}
            </div>
        </div>
    </div>

{% endblock %}

{% block post_comment_section %}

    <div class="mt-md-4 mt-3 mb-md-5 mb-4">
        {% include 'post/post_comment-input.html.twig' %}

        {% include 'post/post_comments.html.twig' %}
    </div>

{% endblock %}
