<!-- Start Post Comment Input -->
<div class="row">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="rounded form-control p-3">
            <form>
                <div class="mb-3">
                <textarea class="form-control" id="formUserComment" rows="3"
                          placeholder="Ingresa tu comentario..." minlength="10" maxlength="255" required></textarea>
                </div>
                <div class="d-grid gap-md-2 gap-1 d-md-flex justify-content-md-end">
                    <input type="submit" class="btn btn-primary" value="Comentar">
                    <input type="reset" class="btn btn-light btn-outline-secondary" value="Limpiar">
                </div>
            </form>
        </div>
    {% else %}
        <div class="alert alert-warning mb-0 border-dark-subtle">
            Para comentar, por favor
            <a href="{{ path('userRegistration') }}">Registrate</a> o
            <a href="{{ path('app_login') }}">inicia sesión</a>
        </div>
    {% endif %}
</div>
<!-- End Post Comment Input -->